# 生成目录
build
bin

# 生成文件
*.pyd

# 日志文件
systemlog.txt
log.txt
*.log

# NSIS
nsis-build
installer.out.nsi

# 备份文件
*-old
*.zip
*.bak

# Python
__pycache__

# virtualenv
venv*

# db
*.sqlite3

# built plugin
/lib

# pytest
/.pytest_cache

*.png
