# 生成目录
build
bin

# 生成文件
*.pyd

# 日志文件
systemlog.txt
log.txt

# NSIS
nsis-build
installer.out.nsi

# 备份文件
*-old
*.zip
*.bak

# Python
__pycache__


# python cache
__pycache__

# old deps
core
packages

# deps

req_pack

# generated window
*window.py

# virtualenv
venv*

# pyinstaller
*.spec
build
dist

# config hash
/config-hash.txt

# db
*.sqlite3

# Visual Studio 文件
.vs
