# tooling
wheel
pyinstaller
black
pytest
ipython
python-vlc
Pillow
imagehash


# doc
jupyter
Sphinx
sphinx-qt-documentation
myst-nb

# old
PyQt5
pywin32; sys_platform == 'win32'
pywinauto; sys_platform == 'win32'
netifaces; sys_platform == 'win32'
psutil; sys_platform == 'win32'
